.matches {
    padding: 0; margin: 48px auto;
    list-style: none;
}
.matches--match {
    display: flex;
    margin-bottom: 16px; padding: 10px 24px 8px;
    font-size: 14px;
    background: #ededed;
    border-radius: 4px;
}
.matches--match h3 {
    display: inline-block;
    width: 48%;
    margin: 0;
    font-weight: lighter;
    line-height: 24px;
    text-transform: uppercase;
    vertical-align: baseline;
}
.match--home { text-align: right; }
.match--separator {
    width: 4%;
    margin: 0 16px;
    vertical-align: bottom;
    line-height: 24px;
    text-align: center;
}
.match--badge {
    max-width: 24px; max-height: 24px;
    margin-top: -4px;
    vertical-align: middle;
}
.home--badge { margin-left: 8px; }
.away--badge { margin-right: 8px; }
/*.matches .matches--match .match--away { float: right; }*/